.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background-color: var(--secondary-bg-color);
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}

.logo {
  font-size: 1.3rem;
  color: var(--primary-txt-color);
  text-decoration: none;
}

.navList {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

.navLink {
  color: var(--secondary-txt-color);
  text-decoration: none;
}

.navLink:hover {
  color: var(--primary-txt-color);
}
