.list {
  margin-top: 2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 0.5rem;
}

.comment {
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.header {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  color: var(--secondary-txt-color);
}

.header .author {
  position: relative;
}

.header .author::after {
  content: "|";
  position: absolute;
  top: -2px;
  right: -0.5rem;
  transform: translateX(50%);
  color: var(--border-color);
}

.content {
  margin-top: 0.25rem;
  font-size: 1rem;
}

.form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.form .textarea {
  outline: 1px solid var(--primary-bg-color);
  padding: 0.25rem;
  width: 100%;
  max-width: 500px;
  font-family: var(--font-lexend);
  background-color: var(--primary-bg-color);
  border: 1px solid var(--border-color);
  color: var(--secondary-txt-color);
  border-radius: 4px;
  resize: vertical;
}

.form .textarea:focus {
  outline-color: 1px solid var(--border-color);
}
