* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #e8dfca;
  --secondary-bg-color: #e8dfca;
  --primary-txt-color: #0c120c;
  --secondary-txt-color: #6d7275;
  --primary-accent-color: #6d94c5;
  --secondary-accent-color: #cbdceb;
  --font-lexend: "Lexend", sans-serif;
}

body {
  background-color: var(--primary-bg-color);
  font-family: var(--font-lexend);
}

#root {
  height: 100vh;
}
